name: Benchmark

on:
  pull_request:
  push:
    branches: [main]

jobs:
  benchmark:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Run Benchmarks
        run: cargo bench

      - name: Upload Benchmark Report
        uses: actions/upload-artifact@v4
        with:
          name: criterion-report
          path: target/criterion
